* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0px;
}

button:hover {
  opacity: .7;
}

/* header styles */
header {
  background-color: #DC052D;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header > a > img {
  height: 75px;
  margin: 10px;
  margin-left: 40px;
}
header > a > img {
  height: 75px;
  margin: 10px;
  margin-left: 40px;
}
header > h2 {
  color: white;
}
header > button {
  color: white;
  background-color: #0066B2;
  border-radius: 3px;
  border: 2px solid white;
  font-weight: bolder;
  height: 35px;
  width: 70px;
  margin-right: 40px;
}
header > button:active {
  background-color: #00467c;
}
header > button:hover {
  box-shadow: 0px 0px 10px #333;
  opacity: 1;
}

/* Nav Bar */
ul.nav-bar {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #0066B2;
  display: flex;
  justify-content: space-around;
}
ul.nav-bar > li {
  padding: 15px;
  margin: 0px;
  margin-top: -1px;
}
ul.nav-bar > li > a {
  color: white;
  padding: 14px 30px;
  text-decoration: none;
  margin: 0px;
  font-weight: bold;
}
ul.nav-bar > li > a:hover {
  background-color: #00467c;
}

/* primary article */
div#primary {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div#primary > * {
  width: 50%;
}
div#primary h2 {
  color: #DC052D;
  margin: 0px;
}
div#author-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div#author-socials > span {
  display: flex;
}
span > button {
  color: #333;
  background-color: #DC052D;
  border-radius: 3px;
  border: 0px;
  font-weight: bold;
  height: 24px;
  margin: 0px;
}
.fa {
  padding: 0px;
  font-size: 30px;
  width: 30px;
  height: 20px;
  text-align: center;
  padding-top: 4px;
  text-decoration: none;
  background-color: #DC052D;
  color: #333;
  border: 0px;
  border-radius: 3px;
  margin-right: 5px;
}
.fa:hover {
  opacity: 0.7;
}
div#primary > img {
  margin: 15px;
}
div#primary > p {
  margin: 5px;
}
div#primary > p + h2 {
  margin-top: 20px;
}
p > a {
  color: #0066B2;
  text-decoration: none;
}
p > a:hover {
  text-decoration: underline;
}
/* Footer */
footer {
  margin-top: 50px;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer > img {
  width: 200px;
  margin: 10px;
  margin-left: 40px;
}
footer ul {
  list-style-type: none;
  margin-right: 30px;
}
footer li {
  display: inline;
  margin-right: 10px;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
