h1 {
  text-align: center;
}
fieldset {
  border: 5px solid #DC052D;
  border-radius: 5px;
}
fieldset:hover {
  box-shadow: 0px 0px 5px #333;
}
div#contact-survey {
  display: grid;
  grid-template: 1fr 1fr 1fr / 100px 65%;
  grid-gap: 5px;
  margin-left: 10%;
  margin-bottom: 20px;
}
div#contact-survey > input {
  border: 2px solid #0066B2;
  border-radius: 3px;
  font-size: 14px;
  font-family: Verdana, Tahoma, sans-serif;
}
div#contact-survey > label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
div#player-survey {
  margin-top: 0px;
  display: grid;
  grid-template: 1fr 1fr 1fr / repeat(3, 20px 1fr);
  grid-gap: 5px;
  margin-bottom: 20px;
}
div#moment-survey {
  display: flex;
  flex-direction: column;
}
div#moment-survey textarea{
  margin-top: 10px;
  border: 2px solid #0066B2;
  border-radius: 3px;
}
div#survey-buttons {
  display: flex;
  justify-content: space-around;
  margin: 5px;
}
div#survey-buttons > button {
  width: 30%;
  height: auto;
  font-size: 14px;
  font-family: Verdana, Tahoma, sans-serif;
  font-weight: bolder;
  background-color: lightslategray;
  color: white;
  border: 0px solid;
  border-radius: 3px;
}
div#survey-buttons > button:active {
  background-color: #DC052D;
}
div#survey-buttons > button#submit {
  background-color: #0066B2;
}
div#survey-buttons > button#submit:active {
  background-color: #DC052D;
}
